.pagecontentcontainer {
  position: relative; 
  top: 4em;
}

.flashmessages {
  position: relative; 
  top: 4em;
}

.boxes { 
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    width: 30%;
    min-width: 30em;
}

.boarder {
    border-style: solid;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 10px;
    align-items: center;
  }
  
.card {
    border-radius: 3px;
    border: 3px solid black;
    width: 30em;
    height: 30em;
    margin: 2em;
    padding: 1em;
    display: inline-block;
  }

.teamsgrid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-gap: 10px;
    align-items: center;
  }

.team {
    border-radius: 3px;
    border: 3px solid black;
    width: 25em;
    height: 25em;
    margin: 2em;
    padding: 1em;
    display: inline-block;
  }

#ppost { 
    align-content: center;
}

#projtitle {
    text-align: center;

}

#favbutton {
    float: right;
}

#joinbuttondiv {
    text-align: center;
}

.floatbuttonr {
  float: right;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 120px;
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px 0;
}

.hover-button:hover .tooltip-text {
  visibility: visible;
}