.boxes { 
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    width: 30%;
    min-width: 30em;
}

.boarder {
    border-style: solid;
}

#ppost { 
    align-content: center;
}

#projtitle {
    text-align: center;

}

#favbutton {
    float: right;
}

#joinbuttondiv {
    text-align: center;
}

