{% extends 'base.html' %}
{% block title %}Profile Page{% endblock %}

{% block body %}
  <div id="navbar-cont"></div>
  <div id="profile-cont"></div>
  <div id="user-projects-cont"></div>
  <div id="favorites-cont"></div>
  <div id="proj-appls-cont"></div>
  <script type="text/jsx" src="/static/js/navbar.jsx"></script>
  <script type="text/jsx" src="static/js/profile.jsx"></script>
  <script type="text/jsx" src="static/js/userProjects.jsx"></script>
  <script type="text/jsx" src="static/js/userFavorites.jsx"></script>
  <script type="text/jsx" src="static/js/projectApplicants.jsx"></script>
{% endblock body %}