{% extends 'base.html' %}
{% block title %}Project Proposal Post Form{% endblock %}

{% block body %}
  <h1>Please fill out the following info for your Project Post</h1>

  <section id="ppp-form">
    <h2>Project Details</h2>
    <form action="">
      <div>
        <label for="title">Project Title:</label>
        <input type="text" name="title" id="title" required>
      </div>
      <div>
        <label for="summary">Project Summary:</label>
      </div>
      <div>
        <textarea name="summary" id="summary" rows="4" cols="50" required>
        </textarea>
      </div>
      <div>
        <label for="specs">What languages, libraries, API's, etc will you be 
                           using in your project?</label>
      </div>
      <div>
        <textarea name="specs" id="specs" rows="4" cols="50" required>
        </textarea>
      </div>
      <div>
        <label for="github_url">Your Project's GitHub Link:</label>
        <input type="url" name="github_url" id="github_url">
      </div>
      <div> 
        <fieldset>
            <legend>Required Experience Level for Your Project:</legend>
            <div>
              <input type="checkbox" name="req_exp_level" id="trainee" 
              value="Trainee Software Engineer">
              <label for="trainee">Trainee Software Engineer</label>
            </div>
            <div>
              <input type="checkbox" name="req_exp_level" id="junior" 
              value="Junior Software Engineer">
              <label for="junior">Junior Software Engineer</label>
            </div>
            <div>
              <input type="checkbox" name="req_exp_level" id="mid_level" 
              value="Mid-level Software Engineer">
              <label for="mid_level">Mid-level Software Engineer</label>
            </div>
            <div>
              <input type="checkbox" name="req_exp_level" id="senior" 
              value="Senior Software Engineer">
              <label for="senior">Senior Software Engineer</label>
            </div>
            <div>
              <input type="checkbox" name="req_exp_level" id="lead" 
              value="Lead Software Engineer">
              <label for="lead">Lead Software Engineer</label>
            </div>
      </div>
      <div>
        <fieldset>
            <legend>Desired Current or Previous Role of Prospective Partners:
            </legend>
            <div>
              <input type="checkbox" name="req_roles" id="back_end" 
              value="Back-End Engineer">
              <label for="back_end">Back-End Engineer</label>
            </div>
            <div>
              <input type="checkbox" name="req_roles" id="front_end" 
              value="Front-End Engineer">
              <label for="front_end">Front-End Engineer</label>
            </div>
            <div>
              <input type="checkbox" name="req_roles" id="mobile" 
              value="Mobile Developer">
              <label for="mobile">Mobile Developer</label>
            </div>
            <div>
              <input type="checkbox" name="req_roles" id="game" 
              value="Game Developer">
              <label for="game">Game Developer</label>
            </div>
            <div>
              <input type="checkbox" name="req_roles" id="devops" 
              value="DevOps Engineer">
              <label for="devops">DevOps Engineer</label>
            </div>
            <div>
              <input type="checkbox" name="req_roles" id="security" 
              value="Security Engineer">
              <label for="security">Security Engineer</label>
            </div>
            <div>
              <input type="checkbox" name="req_roles" id="qa" 
              value="QA Engineer">
              <label for="qa">QA Engineer</label>
            </div>
        </div>
        <div>
          <input type="submit">
        </div>
    </form>
{% endblock body%}
